extends layout 

block content 
	h3 Search Libgen database
	form(method='POST' action='')
		label(for='title') Title: 
		input(type="text" name='title' placeholder='the stand stephen king') 
		button(type='submit') Submit

	each item in downloads 
		p #{item.title} by #{item.author} <span style='font-style:italic;'>[Format: #{item.format}]</span>
		a(href='/catalog/download/'+item._id) Download #{item.title}.#{item.format} 